In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in g:\annaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in g:\annaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in g:\annaconda\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in g:\annaconda\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in g:\annaconda\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in g:\annaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in g:\annaconda\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in g:\annaconda\lib\site-packages (from requests) (3.0.4)

In [2]:
from bs4 import BeautifulSoup
import requests
movie_page = "https://www.imdb.com/list/ls009997493/"
resp = requests.get(movie_page)

In [3]:
htmlcontent=resp.content
soup=BeautifulSoup(htmlcontent,'html.parser')
#print(soup.prettify)
title=soup.title
print(title.string)

IMDB Top 100 Hindi Movies - IMDb

In [7]:
movies=soup.find_all("div",{"class":"lister-item mode-detail"})
first=movies[0]
first.h3.a.text

'Rang De Basanti'

In [16]:
first.find("span",{"class":"lister-item-year text-muted unbold"}).text[1:5]

'2006'

In [9]:
first.find("span",{"class":"ipl-rating-star__rating"}).text

'8.2'

In [10]:
Name=[]
Year=[]
rating=[]

for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5])
    rating.append(i.find("span",{"class":"ipl-rating-star__rating"}).text)

In [11]:
data=list(zip(Name,Year,rating))

In [12]:
import pandas as pd
df=pd.DataFrame(data,columns=["Name","Year","rating"])

In [13]:
df

                      Name  Year rating
0          Rang De Basanti  2006    8.2
1                 3 Idiots  2009    8.4
2         Taare Zameen Par  2007    8.4
3           Dil Chahta Hai  2001    8.1
4   Swades: We, the People  2004    8.2
..                     ...   ...    ...
95             Wake Up Sid  2009    7.6
96                Rangeela  1995    7.5
97     Shatranj Ke Khilari  1977    7.7
98      Pyaar Ka Punchnama  2011    7.7
99           Ek Hasina Thi  2004    7.5

[100 rows x 3 columns]